// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.question {
height: 70px;
width: 50%;
}

.answers {
  background-color: #FFFDE1;
  height: 70px;
  width: 50%
}

.link {
  height: 40px;
}
